<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden"> 안녕하세요. <span id="js-rotating">JAVA, HTML, javaScript, Sql, Python, linux, window</span> 개발자 정민정입니다</h4>
  </div>
  <div class="user-content">
    <br><br><br>
    <p>
      컴퓨터공학을 전공하고 교육을 이수받아 2017년을 시작으로 항상 열심히 일하는 개미🐜🐜(뚠뚠)
    </p>
    <img src="/assets/images/ilovework_true.png" style="width: 100%">
    <p>

    </p>
  </div>
</div>