<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>

  <!--<div class="user-intro center-align">
    <br><br>

    <h4 class="hidden">🙋&lt;!&ndash;<span id="js-rotating">JAVA, HTML, javaScript, Sql, Python, linux, window</span> 개발자 정민정입니다&ndash;&gt;</h4>
  </div>-->
  <div class="user-content">
    <br><br><br>
    <h4>
      programmer
    </h4>
    <hr>
    <table>
      <tr>
        <th style="width: 30%">
          📜
          Current : Certificate
        </th>
        <td style="width: 70%">
          <P>학사 ( 컴퓨터공학 전공 )</P>
          <P>정보처리기사</P>
          <P>SQLD</P>
          <P>컴퓨터활용능력 1,2 급</P>
          <P>네트워크관리사 2급</P>
        </td>
      </tr>
      <tr>
        <th style="width: 30%">
          💻
          Projects
        </th>
        <td style="width: 70%">
          <p>Industry middleware</p>
          <p>Privacy api-server</p>
          <p>ordinary web-service</p>
          <p>Mobile Web-app</p>
        </td>
      </tr>
      <tr>
        <th style="width: 30%">
          ⌨
          Current : Back-end Skill
        </th>
        <td style="width: 70%">
          <p>java ( spring Boot, spring Framework, spring Security, spring Cloud, JPA, mybatis, jdbc, JUnit, OAuth, Token Auth, JWT )</p>
          <p>python</p>
          <p>Node.js</p>
          <p>Message ( RabbitMQ, Kafka )</p>
          <p>Docker</p>
          <p>protocol ( TCP/IP, SSL/TLS, SOAP )</p>
          <p>Web Server ( APACHE, Jeus, NGINX, MS IIS )</p>
          <p>database ( mysql, mssql, oracle, tibero )</p>
          <p>buildTool (Gradle, Maven )</p>
        </td>
      </tr>
      <tr>
        <th style="width: 30%">
          🖥
          Current : Front-end Skill
        </th>
        <td style="width: 70%">
          <p>html</p>
          <p>JavaScript</p>
          <p>ECMAscript</p>
          <p>Vue3.js</p>
          <p>nexacro</p>
        </td>
      </tr>
      <tr>
        <th style="width: 30%">
          🖱
          Current : others
        </th>
        <td style="width: 70%">
          <p>git</p>
          <p>jenkins</p>
          <p>slack</p>
          <p>trello</p>
          <p>teams</p>
          <p>jira</p>
          <p>Figma</p>
        </td>
      </tr>
      <tr>
        <th style="width: 30%">
          🏃🏻‍♀️
          Future Skill : to be added
        </th>
        <td style="width: 70%">
          redis
          nosql
          ELK
        </td>
      </tr>
    </table>
    <img src="/assets/images/ilovework_true.png" style="width: 100%">
    <p>

    </p>
  </div>
</div>